#triggered-cta-box-close
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 26px;
    line-height: 22px;
    position: absolute;
    margin-left: 944px;
    text-align: center;
    text-decoration: none;
    top: 6px;
    width: 26px;
    z-index: 2002;
}
